/* globals */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Francois+One&family=Gulzar&family=Lato&family=Merriweather+Sans&family=Montserrat&family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@600;700&family=Poppins:wght@200;300&family=Roboto+Condensed&family=Short+Stack&family=Tiro+Kannada&family=Titillium+Web:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Francois+One&family=Gulzar&family=Lato&family=Merriweather+Sans&family=Montserrat&family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@600;700&family=Noto+Serif&family=Poppins:wght@200;300&family=Roboto+Condensed&family=Short+Stack&family=Tiro+Kannada&family=Titillium+Web:wght@300&display=swap");

:root {
  /* fonts for Headings */
  --nursery: "Noto Sans", sans-serif;
  --font2: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  /* color codes */
  --blue: #1e4a71;
  --harsh: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  /* position: fixed; */
  height: clamp(50px, 600vw, 60px);
  background-color: #3e3c3c;
  /* position: absolute; */
}

.navbar {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-menu {
  display: flex;
}

.navbar h1 {
  margin-top: 20px;
  color: #fff;
  font-family: "Montserrat" sans-serif;
  font-size: clamp(12px, 50vw, 24px);
  line-height: 24px;
  /* position: relative;
  overflow: hidden; */
}

/* .navbar h1::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #3e3c3c;
  border-left: 10px solid #3e3c3c;
  animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
} */

.menu-icon {
  margin-top: 5px;
  color: #fff;
  visibility: hidden;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .menu-icon {
    visibility: visible;
  }

  .menu-icon i {
    margin-top: 10px;
  }

  .nav-menu {
    display: none;
    visibility: none;
  }

  .navbar {
    padding: 0 10px 0 10px;
  }

  .right-nav img {
    display: none;
  }

  .left-nav {
    flex-direction: column;
    justify-content: space-between;
  }

  .icon-tags {
    display: flex;
    /* transform: scale(1); */
    transform: translateY(800%);
    /* margin-left: 30px; */
  }

  .particulars h1 {
    text-align: start;
    /* margin-top: 40px;
    text-decoration: underline; */
  }

  .title {
    text-align: start;
  }

  hr {
    display: none;
  }

  .project-container {
    display: block;
    flex-direction: column;
    width: 90%;
    place-items: center;
    text-align: center;
  }

  .visual {
    display: none;
    padding-left: 0px;
    padding-top: 40px;
  }

  .visual-frame {
    /* display: hidden; */
    display: none;

    width: 0;
    height: auto;
  }

  .visual img {
    /* width: 30px; */
    width: 50%;
  }

  .about {
    padding: 40px;
    text-align: center;
  }

  .about-container button {
    display: none;
  }
}

/* For Tablet */
@media (max-width: 1200px) {
  .right-nav img {
    display: none;
  }
}

.show-sidebar {
  transform: translateX(0);
}

.nav-menu li {
  list-style: none;
  padding: 0 10px;
  margin-top: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 28px;
}

.nav-menu li i {
  margin-top: 2px;
  color: #fff;
  font-size: 22px;
}

.nav-menu li a:hover {
  background-color: #f4f4f4;
  color: #000;
  padding: 10px;
  transition: background 0.5s ease-in-out;
}

.nav-menu li i:hover {
  position: static;
  color: green;
  transition: 0.5s ease-in-out;
  background-color: #fff;
  border-radius: 50px;
}

main {
  background-color: #1c1a19;
  z-index: 1;
  height: 500px;
}

.main-container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  /* width: 50%; */
  margin-top: 40px;
}

.icon-tags li {
  list-style: none;
}

.icon-tags li i {
  font-size: clamp(12px, 8vw, 24px);
  color: #1e4a71;
  margin-top: clamp(10px, 3vw, 20px);
  margin-right: 30px;
}

.icon-tags li i:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transition: 0.5s;
}

.particulars {
  position: relative;
}

.about-me {
  max-width: 600px;
  margin: 0 auto;
}

.particulars h1 {
  font-size: clamp(12px, 8vw, 24px);
  line-height: 28px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: var(--nursery);
}

.particulars h2,
.particulars h3 {
  font-size: clamp(8px, 8vw, 16px);
  line-height: 28px;
  margin-top: 15px;
  text-align: justify;
  color: #fff;
  text-transform: capitalize;
  font-family: "Noto Sans", sans-serif;
}

.right-nav {
  position: absolute;
  transform: translate(185%);
  margin-top: 0;
}

.right-nav img {
  width: clamp(200px, 30vw, 500px);
  /* size: 10px; */
  /* right: 0; */
  margin-left: 40px;

  transform: scaleX(-1);
}

section {
  height: 500px;
  background-color: var(--harsh);
}

.heading {
  padding-top: 30px;
  padding-left: 40px;
  /* display: flex; */
  /* flex-direction: row; */
}

.title h2 {
  margin-top: 30px;
  margin-left: 60px;
  color: #000;
  font-family: var(--nursery);
  font-size: clamp(12px, 50vw, 24px);
  line-height: 24px;
  color: var(--blue);
}

hr {
  width: 50%;
  margin-left: 320px;
  transform: translateY(-500%);
}

.project-container {
  display: flex;
  /* justify-content: center; */
}
.visual {
  padding-left: 100px;
  padding-top: 40px;
}

.visual-frame {
  width: clamp(250px, 50vw, 505px);
  height: auto;
  background-color: #000;
}

.description {
  margin-top: 60px;
  margin-left: 50px;
  width: clamp(50px, 50vw, 600px);
}

.description h1 {
  font-family: var(--nursery);
  font-size: 32px;
  text-align: start;
  text-transform: capitalize;
  text-shadow: 5px 5px 5px #1e4a71bd;
}

.description p {
  font-family: var(--font2);
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 10px;
  padding: 5px;
  /* text-align: justify; */
  /* font-size: 20px; */
}

.btn button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: 1px solid #3e3c3cad;
  border-radius: 5px;
  /* border: none; */
}

.btn button a {
  text-decoration: none;
  color: #000;
}

.btn button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

.btn button a:hover {
  color: #fff;
}

.about {
  height: 500px;
  background-color: var(--harsh);
}

.about1 {
  display: flex;
}

.about-container {
  width: 80%;
}

.about-container h1 {
  padding-top: 30px;
  margin-left: 100px;
  font-family: var(--nursery);
  color: #184943;
  text-shadow: 5px 5px 5px #184943;
  animation: bounce 5s ease infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.about-container p {
  margin-left: 100px;
  /* margin-top: 10px; */
  font-size: clap(16px, 8vw, 28px);
  /* padding-top: 20px; */
  line-height: 24px;

  font-weight: 600;
  text-align: justify;
  font-family: var(--font2);
  padding: 5px;
  color: var(--blue);
}

.about-container p span {
  color: #000;
}

.about-container button {
  margin-left: 250px;
  margin-top: 5px;
  padding: 10px 20px;
  border: 1px solid #686666;
  border-radius: 5px;
}

/* .my-image {
  text-align: end;
} */

.about1 img {
  width: 70%;
  transform: scaleX(-1);
}
